@use '../base/typography' as *;
@use '../utilities/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: $font-family;
}

.attribution{
    width: 100vw;
    text-align: center;
    display: inline-block;
    position: absolute;
    right: 50%;
    bottom: 10px;
    transform: translateX(50%);
}